@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#f7f7f7;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

img{

width:100%;

display:block;

}

button{

cursor:pointer;

border:none;

outline:none;

}

.container{

width:90%;

margin:auto;

}

.section{

padding:80px 0;

}