.properties-page{

padding-top:120px;

width:90%;

margin:auto;

min-height:100vh;

}

.properties-page h1{

font-size:45px;

margin-bottom:10px;

}

.properties-page p{

color:#666;

margin-bottom:40px;

}

.properties-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

gap:35px;

}