.search-bar{
    width:85%;
    margin:-60px auto 60px;
    background:#fff;
    border-radius:25px;
    padding:25px 35px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
    box-shadow:0 10px 35px rgba(0,0,0,.12);
    position:relative;
    z-index:100;
}

.search-item{
    flex:1;
    display:flex;
    align-items:center;
    gap:15px;
}

.search-item:not(:last-child){
    border-right:1px solid #ddd;
    padding-right:20px;
}

.search-item svg{
    color:#ff385c;
    font-size:24px;
}

.search-item h4{
    font-size:17px;
    margin-bottom:6px;
}

.search-item input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    font-size:16px;
}

.search-btn{
    background:#ff385c;
    color:#fff;
    border:none;
    padding:18px 40px;
    border-radius:50px;
    font-size:18px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    transition:.3s;
}

.search-btn:hover{
    background:#e11d48;
}

@media(max-width:992px){

.search-bar{
    flex-direction:column;
    width:95%;
}

.search-item{
    width:100%;
    border:none !important;
    padding-right:0;
}

.search-btn{
    width:100%;
    justify-content:center;
}

}