.admin-login{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f5f7fb;

}

.admin-login-card{

width:420px;

background:#fff;

padding:40px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.1);

display:flex;

flex-direction:column;

gap:20px;

}

.admin-login-card h1{

text-align:center;

color:#ff385c;

font-size:36px;

margin:0;

}

.admin-login-card p{

text-align:center;

color:#666;

margin-bottom:10px;

}

.admin-login-card input{

padding:15px;

font-size:17px;

border:1px solid #ddd;

border-radius:10px;

outline:none;

}

.admin-login-card input:focus{

border-color:#ff385c;

}

.admin-login-card button{

padding:16px;

background:#ff385c;

color:#fff;

border:none;

border-radius:12px;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.admin-login-card button:hover{

background:#e11d48;

}